<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="mcs.data" type="Framework.Data.DbConfigurationSectionGroup, Framework.Data">
      <section name="connectionManager" type="Framework.Data.ConnectionManagerConfigurationSection, Framework.Data" />
    </sectionGroup>
  </configSections>
  <mcs.data>
    <connectionManager>
      <!--数据库连接-->
      <connectionStrings>
        <!--<add name="DBConnectionString" connectionString="Application Name=FileService;Data Source=wddb06.wanda.cn;Initial Catalog=Procurement_Intranet;User ID=Procurement_Intranet_user;Password=p6zUB95Ywbz9cUGG;enlist=false;" providerName="System.Data.SqlClient" commandTimeout="120"/>-->
        <add name="DBConnectionString" connectionString="Application Name=FileService;Data Source=192.168.50.72;Initial Catalog=DailyCollectData_DEV;User ID=sjsj_user;Password=!QAZ2wsx;enlist=false;" providerName="System.Data.SqlClient" />
      </connectionStrings>
      <dataProviders>
        <add name="System.Data.SqlClient" type="Framework.Data.SqlDatabase,Framework.Data" />
      </dataProviders>
    </connectionManager>
  </mcs.data>
  <appSettings>

    <add key="IsVirtualUser" value="true" />
    <add key="VirtualUser" value="系统服务" />
    <add key="MaxTryCount" value="5" />
    <add key="MessageService.Url" value="http://192.168.50.94:7007/" />
    <add key="MessageService.FromSys" value="WCF" />
    <add key="MessageService.Prefix" value="【收集】" />
    <add key="MessageService.DebugUser" value="zhengguilong" />
    <add key="MessageService.Sender" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>