<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- See http://nlog-project.org/wiki/Configuration_file for information on customizing logging rules and outputs. -->

  <targets>
    <!-- add your targets here -->
    <target name="debugFileLog" xsi:type="File" fileName="${basedir}/Log/Debug-${shortdate}.log"
                layout="[${longdate}]${newline}${message}" />
    

    <target name="infoFileLog" xsi:type="File" fileName="${basedir}/Log/Info-${shortdate}.log"
                layout="[${longdate}]${newline}${message}" />



    <target name="errorFileLog" xsi:type="File" fileName="${basedir}/Log/Error-${shortdate}.log"
            layout="[${longdate}]${uppercase:${level}}${newline}${message}${newline}${exception:format=toString}" />
    <target name="errorEventlog" xsi:type="EventLog" layout="[${longdate}]${uppercase:${level}}${newline}${message}${newline}${exception:format=toString}" log="Application"  source="SJSJ WebAPI" />
    <!--<target xsi:type="Database" name="db"  dbProvider="mssql"
            commandText="Insert into NLog_Record(time_stamp, level, host, url, type, source, logger, message, stacktrace, detail, loginuser) Values(@time_stamp, @level, @host, @url, @type, @source, @logger, @message, @stacktrace, @detail, @loginuser);" connectionString="" >
      <parameter name="@time_stamp" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff} " />
      <parameter name="@level" layout="${level}" />
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@url" layout="${aspnet-request:serverVariable=url}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@source" layout="${callsite:className=true}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@detail" layout="${exception:format=tostring}" />
      <parameter name="@loginuser" layout="${loginuser}" />
    </target>
      -->
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugFileLog" />
    <logger name="*" minlevel="Info" maxlevel="Info"  writeTo="infoFileLog" />
    <logger name="*" minlevel="Error" writeTo="errorFileLog,errorEventlog" />
    <!--<logger name="*" minlevel="Info" writeTo="errorEventlog" />-->
  </rules>
</nlog>